
:root {
  --intro-transition: cubic-bezier(.9,0,1,.1);
}

/* torus */

#torus {
    z-index: 1000;
    transition: opacity 1s ease;
    transition-delay: 1s;
}

#torus.torus-hide {
    opacity: 0;
}

#torus .torus-label {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 300px;
    padding: 5px;

    background-color: white;
    color: #000;
    text-align: center;

    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    text-transform: uppercase;

    opacity: 1;/*
    transition: opacity 10s ease;
    transition-delay: 10s;*/*/

    z-index: 1001;
}

#torus.torus-hide .torus-label {
    display: block;
    -opacity: 0.1;
}

/* main slide */

#intro {
    position: relative;
    overflow: hidden;

}

/* intro name  */

#intro-name {
    position: absolute;
    left: 34.35vw;
    top: 50px;
    width: 100%;
    overflow:visible;
    transition: all .2s var(--intro-transition);

    text-align: left;
    word-wrap: break-word;
    flex-shrink: 0;

    /* start position */

    font-size: max(40px, 1vh);
    line-height: 1em;
    font-family: 'Redaction', sans-serif;

    z-index: 1;
}

#intro-name:hover {
    font-family: 'Redaction 35', sans-serif;
}

.intro-start #intro-name {
  left: 0;
  top: .05em;
  width: 100%;
  font-size: clamp(20px, 25vh, 14vw);
  line-height: .66em;  

}

.intro-start #intro-name span {
    display: inline;
    font-size: inherit;
    height: 10px;
    letter-spacing: calc( (100vw - 6.25em - .7em) / 2 );
    line-height: 10px;
}

/* intro image */


#intro-image {
    position: absolute;
    right: 8.43vw;
    top: 15vh;

    height: min(77vh, 77vw);
    aspect-ratio: 2 / 3;

    transition: all 0.5s cubic-bezier(.5,0,1,.1);
}

.intro-start #intro-image:hover {
    transform: rotate(4deg) scale(1.1);
}

#intro-image img {
    max-height:100%; max-width:100%;
}

/* intro contacts */

#intro-contacts {
    display: flex;
    flex-direction: column;
    position: absolute;

    left: 10vw;
    bottom: 28px;

    font-size: max(24px, 3.8vh);

    transition: all 0.3s var(--intro-transition);
    transition-delay: 0.4s;

}

/*.intro-start #intro-contacts {
    -bottom: 90px;
}*/

.contact-text {
    font-size: inherit;
    height: 1.2em;
    font-family: 'Redaction 35', sans-serif;
    background: white;
    max-width: 9.5em;
    transition: all 0.3s var(--intro-transition);
}

.contact-text:hover {
    font-family: 'Redaction', sans-serif;
    padding-left: 10px;
    transition-delay: 0.1s;
}

.contact-line {
    height: .5px;
    width: 100vw;
    transform: translateX(-10vw);
    font-size: inherit;
    background: black;
    transition: all .3s var(--intro-transition);
    z-index: 20;
}

.line-2 {transform: translateY(calc(-1*1.2em - .25px)) translateX(-10vw); transition-delay: .85s;}
.line-3 {transform: translateY(calc(-2*1.2em - .75px)) translateX(-10vw); transition-delay: .75s;}
.line-4 {transform: translateY(calc(-3*1.2em - 1.25px)) translateX(-10vw); transition-delay: .65s;}

.intro-start .line-2 {transform: translateX(-10vw);}
.intro-start .line-3 {transform: translateX(-10vw);}
.intro-start .line-4 {transform: translateX(-10vw);}


.text-0 {z-index: 5;}
.text-1 {z-index: 5;}
.text-2 {z-index: 4; transform: translateY(calc(-1*(100% + 2px))); transition-delay: .95s;}
.text-3 {z-index: 3; transform: translateY(calc(-2*(100% + 2px))); transition-delay: .85s;}
.text-4 {z-index: 2; transform: translateY(calc(-3*(100% + 2px))); transition-delay: .75s;}
.text-5 {z-index: 1; transform: translateY(calc(-4*(100% + 2px))); transition-delay: .65s;}

.intro-start .text-2 {transform: none;}
.intro-start .text-3 {transform: none;}
.intro-start .text-4 {transform: none;}
.intro-start .text-5 {transform: none;}

#extra-lines {
    display: none;
}

/* mobile */
@media screen and (max-width: 480px) {

    #intro {
        height: 200vh;
    }

    #intro-name { 
        left: 0;
        top: -1rem;
        font-size: 17vw;
        line-height: 20vw;  
    }

    #intro-name span {
        display: none;
    }

    #intro-image {
        width: 90vw;
        height: 135vw;


        left: 5vw;
        top: calc(80vw + 12.5vw * 3 + 3px);

        -padding: 10px;

        z-index: 2;
    }

    #intro-contacts {
        top: 80vw;
        left: 0;
        width: 100vw;

        background-color: none;
        overflow: visible;
    }

    .contact-text {
        font-size: 8vw;
        height: 12.5vw;
        line-height: 12.9vw;
        width: 100%;
        text-align: left;
        padding-left: 5vw;
        justify-content: center;
        font-family: 'Redaction 35', sans-serif;

        max-width: none;

        transform: none;

    } 

    .contact-line {
        transform: none;
        position: relative;
    }

    .text-2 {
        margin-top: calc(135vw + 13vw + 2vw);
    }

    #extra-lines {
        display: block;
        -transform: translateY(calc(-12.5vw*5 - 135vw));
        position: absolute;
        left: 0;
        top: calc(80vw + 12.5vw * 2 + 3px);
    }

    #extra-lines .contact-line {
        margin-top: calc(13.5vw - 1px);
        height: 1px;
    }

    #extra-lines .back-line {
        z-index: 1;
    }

    #pong-container {
        display: none;
    }
}

