:root {
  --vh: calc(var(--vh-height, 1vh) * 100);
}

.container {
  position: relative;
  width: 100%;
  min-width: 100vw;
  height: 100vh;
  min-height: -webkit-fill-available;
}

.scroll-container {
  position: relative;
  width: 100%;
  min-width: 100vw;
  min-height: 100vh;
  min-height: -webkit-fill-available;
}

#intro-app {
  position: relative;
        display: grid;
        grid-template-columns: 1fr;
  scroll-snap-type: y mandatory;
  overflow-y:scroll;
  height: 100vh;
  max-height: 100vh;
  max-height: -webkit-fill-available;

  background-color: white;
}

#intro-app #torus,
#intro-app #intro,
#intro-app #pong-container {
  scroll-snap-align: start;
  scroll-snap-stop: always;
}

/* torus */

.torus-container {
    -position: absolute;
    -height: 100vh;
    -width: 100vw;
    -min-width: 100vw;
    z-index: 2;

    overflow: hidden;
}

#d {

  font-family: var(--font-family-monospace);
  font-variation-settings: "MONO" .5, "wght" 600;
  cursor: pointer;

  background-color: var(--dark-color);
  color: var(--light-color); 
  font-size: var(--font-size);
  line-height: var(--line-height);

  padding: 0;
  margin: 0;
}

/* pong container  */

.pong-container-hidden {
  height: 0 !important;
  overflow: hidden;
}

#pong-container {
  display: flex;
  flex-direction: row;
  overflow: hidden;

  background-color: var(--dark-color);
}
