.container {
  position: relative;
  width: 100%;
  -min-width: 100vw;
  height: 100vh;
  min-height: -webkit-fill-available;
}

.scroll-container {
  position: relative;
  width: 100%;
  min-width: 100vw;
  min-height: 100vh;
  min-height: -webkit-fill-available;
}

#intro-app {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  scroll-snap-type: y mandatory;
  overflow-y:scroll;
  height: 100vh;
  max-height: 100vh;
  max-height: -webkit-fill-available;

  background-color: var(--white);
}

#intro-app #torus,
#intro-app #intro,
#intro-app #pong-container {
  scroll-snap-align: start;
  scroll-snap-stop: always;
}


/* pong container  */

.pong-container-hidden {
  height: 0 !important;
  overflow: hidden;
}
