:root {
  --vh: calc(var(--vh-height, 1vh) * 100);
}


#intro-app {
  position: relative;
  -display: flex;
  -flex-direction: column;
  scroll-snap-type: y mandatory;
  overflow-y:scroll;
  height: 100vh;
  max-height: 100vh;
  max-height: -webkit-fill-available;

  background-color: white;

}

#intro-app #space,
#intro-app #intro,
#intro-app #pong-container {
  scroll-snap-align: start;
  scroll-snap-stop: normal;
}

.container {
  position: relative;
  width: 100%;
  min-width: 100vw;
  -min-height: var(--vh);
  min-height: 100vh;
  min-height: -webkit-fill-available;
}

@media screen and (min-width: 480px) {
  .container {
    height: 100vh;
  }
}

.containers-row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow: hidden;

}

.containers-row.show-pong {
  overflow: scroll;
}
/* pong container  */

.pong-container-hidden {
  height: 0 !important;
  overflow: hidden;
}

#pong-container {
  display: flex;
  flex-direction: row;
  overflow: hidden;

  background-color: var(--dark-color);
}


.pong-cell {
    grid-column: 3 / 6;
    grid-row: 3 / 7;
}

.control-cell {
    grid-column: 2;
    grid-row: 1;
}

.event-cell {
    grid-column: 3 / 6;
    grid-row: 2;
    background-color: var(--dark-color);
    color: var(--light-color);
    border-bottom: 2px solid var(--light-color);

}


.canvas-holder {
  margin-top: 5vh;
  margin-left: 5vh;
  margin-right: 20vw;
}

#pong-score {
  position: absolute;
  bottom: 100px;
  right: -100px;
  text-align: center;
  align-items: flex-end;


  font-family: 'Redaction 10';
  -line-height: 100vh;
  font-size: 140vh;
  height: 100vh;

  color: var(--light-color);
  -overflow: hidden;
}

#pong-line {
  position: absolute;
  left: calc(60vh + 10vw);
  top: 40vh;

  height: 25vh;
  width: 30vw;

  padding: 5px;

  color: var(--dark-color);
  background-color: var(--light-color);

  border: 2px solid black;

  font-size: 20px;

  font-family: var(--font-family-monospace);
  font-variation-settings: "MONO" .5, "wght" 600;
  z-index: 10;
}

.torus-container {
    position: absolute;
    height: 100vh;
    width: 100vw;
    min-width: 100vw;
    z-index: 2;

    overflow: hidden;

}



.disable-scrolling {
  height: 100vh;
  overflow: hidden;
}
