@font-face {
    font-family: redaction;
    font-style: normal;
    font-weight: 400;
    src: local('Redaction'), url(https://fonts.cdnfonts.com/s/47238/Redaction-mL8P5.woff) format('woff')
}

@font-face {
    font-family: redaction;
    font-style: italic;
    font-weight: 400;
    src: local('Redaction'), url(https://fonts.cdnfonts.com/s/47238/RedactionItalic-lgB8w.woff) format('woff')
}

@font-face {
    font-family: redaction;
    font-style: normal;
    font-weight: 700;
    src: local('Redaction'), url(https://fonts.cdnfonts.com/s/47238/RedactionBold-d9yOZ.woff) format('woff')
}

@font-face {
    font-family: 'redaction 10';
    font-style: normal;
    font-weight: 400;
    src: local('Redaction 10'), url(https://fonts.cdnfonts.com/s/47238/Redaction10-1GX2v.woff) format('woff')
}

@font-face {
    font-family: 'redaction 100';
    font-style: normal;
    font-weight: 400;
    src: local('Redaction 100'), url(https://fonts.cdnfonts.com/s/47238/Redaction100-vmXR9.woff) format('woff')
}

@font-face {
    font-family: 'redaction 20';
    font-style: normal;
    font-weight: 400;
    src: local('Redaction 20'), url(https://fonts.cdnfonts.com/s/47238/Redaction20-YzPy2.woff) format('woff')
}

@font-face {
    font-family: 'redaction 35';
    font-style: normal;
    font-weight: 400;
    src: local('Redaction 35'), url(https://fonts.cdnfonts.com/s/47238/Redaction35-BWXjw.woff) format('woff')
}

@font-face {
    font-family: 'redaction 50';
    font-style: normal;
    font-weight: 400;
    src: local('Redaction 50'), url(https://fonts.cdnfonts.com/s/47238/Redaction50-8Mg4n.woff) format('woff')
}

@font-face {
    font-family: 'redaction 70';
    font-style: normal;
    font-weight: 400;
    src: local('Redaction 70'), url(https://fonts.cdnfonts.com/s/47238/Redaction70-RpXqE.woff) format('woff')
}

@font-face {
    font-family: 'redaction 10';
    font-style: italic;
    font-weight: 400;
    src: local('Redaction 10'), url(https://fonts.cdnfonts.com/s/47238/Redaction10Italic-nRYrO.woff) format('woff')
}

@font-face {
    font-family: 'redaction 100';
    font-style: italic;
    font-weight: 400;
    src: local('Redaction 100'), url(https://fonts.cdnfonts.com/s/47238/Redaction100Italic-rgDrK.woff) format('woff')
}

@font-face {
    font-family: 'redaction 20';
    font-style: italic;
    font-weight: 400;
    src: local('Redaction 20'), url(https://fonts.cdnfonts.com/s/47238/Redaction20Italic-K7ZJe.woff) format('woff')
}

@font-face {
    font-family: 'redaction 35';
    font-style: italic;
    font-weight: 400;
    src: local('Redaction 35'), url(https://fonts.cdnfonts.com/s/47238/Redaction35Italic-rgDrB.woff) format('woff')
}

@font-face {
    font-family: 'redaction 50';
    font-style: italic;
    font-weight: 400;
    src: local('Redaction 50'), url(https://fonts.cdnfonts.com/s/47238/Redaction50Italic-2ODWo.woff) format('woff')
}

@font-face {
    font-family: 'redaction 70';
    font-style: italic;
    font-weight: 400;
    src: local('Redaction 70'), url(https://fonts.cdnfonts.com/s/47238/Redaction70Italic-MV3Lv.woff) format('woff')
}

@font-face {
    font-family: 'redaction 10';
    font-style: normal;
    font-weight: 700;
    src: local('Redaction 10'), url(https://fonts.cdnfonts.com/s/47238/Redaction10Bold-w1gB6.woff) format('woff')
}

@font-face {
    font-family: 'redaction 100';
    font-style: normal;
    font-weight: 700;
    src: local('Redaction 100'), url(https://fonts.cdnfonts.com/s/47238/Redaction100Bold-7BE64.woff) format('woff')
}

@font-face {
    font-family: 'redaction 20';
    font-style: normal;
    font-weight: 700;
    src: local('Redaction 20'), url(https://fonts.cdnfonts.com/s/47238/Redaction20Bold-2ODWX.woff) format('woff')
}

@font-face {
    font-family: 'redaction 35';
    font-style: normal;
    font-weight: 700;
    src: local('Redaction 35'), url(https://fonts.cdnfonts.com/s/47238/Redaction35Bold-MV3LP.woff) format('woff')
}

@font-face {
    font-family: 'redaction 50';
    font-style: normal;
    font-weight: 700;
    src: local('Redaction 50'), url(https://fonts.cdnfonts.com/s/47238/Redaction50Bold-vmXRL.woff) format('woff')
}

@font-face {
    font-family: 'redaction 70';
    font-style: normal;
    font-weight: 700;
    src: local('Redaction 70'), url(https://fonts.cdnfonts.com/s/47238/Redaction70Bold-K7ZJX.woff) format('woff')
}

@font-face {
    font-family: 'FontAwesome';
    src: url('../fonts/FontAwesome/fontawesome-webfont.ttf');
    src:
         url('../fonts/FontAwesome/fontawesome-webfont.eot') format('embedded-opentype'),
         url('../fonts/FontAwesome/fontawesome-webfont.woff2') format('woff2'),
         url('../fonts/FontAwesome/fontawesome-webfont.woff') format('woff'),
         url('../fonts/FontAwesome/fontawesome-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
