
#pong-container {
  display: grid;
  grid-template-columns: 66vh 1fr;
  grid-template-rows: 5fr 1fr;
  overflow: hidden;

  background-color: var(--dark-color);

  font-size: 20px;
}

#pong {

  grid-row: 1 / span 2;
  grid-column: 1 / 1;

  margin: 2vh;

  font-size: inherit;
}

#pong-score {
  grid-row: 1 / span 2;
  grid-column: 2;

  line-height: .7em;
  height: 10px;

  place-self: start center;
  pointer-events: none;

  font-family: 'Redaction 10';
  font-size: calc( (100vw - 60vh) * 1.5 );
  color: var(--light-color);
  text-align: right;
}

#pong-line {

  grid-row: 2;
  grid-column: 2;

  width: max(100px, 90%);

  margin-bottom: 2vh;

  font-size: inherit;

  min-height: 10em;

  z-index: 2;

  color: var(--dark-color);
  background-color: var(--light-color);
  border: 2px solid black;
  word-wrap: break-word;

  margin-bottom: 10em;

}

@media screen and (max-width: 700px) {


  #pong-container {
    grid-template-columns: 1fr 20%;
    grid-template-rows: fit-content(1px) auto;
  }

  #pong {
    grid-row: 1 / span 1;
    grid-column: 1 / span 2;


    height: min(146vw, calc(100vh - 6em));
    width: min(146vw * 2/3, calc((100vh - 6em) * 2/3 ));

    place-self: start;

    margin: 2vw;

  }

  #pong-score {
    grid-row: 1;
    grid-column: 2;

    place-self: center;
    font-size: 40vw;
  }

  #pong-line {
    grid-row: 2;
    grid-column: 1 / span 2;

    margin-left: 1vw;
    margin-right: 1vw;
    width: 98vw;

    min-height: 4em;
    height: 66%;
    margin-bottom: 0;
  }
}
