/* BLOCK Page */

.page {
	max-width: 100%;
	width: 100%;
	min-height: 100vh;
	height: 100%;

	display: grid;
	grid-template-areas:
	    "title right"
	    "nav  right"
	    "left  right";
	grid-template-rows: auto auto 1fr;
	grid-template-columns: 50% 50%;
	overflow: hidden;

	font-size: 20px;
	@extend .font--normal;
	font-family: 'Redaction 20', sans-serif;

	background: $white;
	color: $black;


	&__nav {
		grid-area: nav;

		z-index: 10;
		padding-left: 2em;

		// height
	}

	&__title {
		grid-area: title;
		overflow: scroll;
	}

	&__left {
		grid-area: left;
	}

	&__right {
		grid-area: right;
	}

	&--overflow-visible {
		overflow-y: visible;
	}

	&--extra-left {
		grid-template-columns: 75% 25%;
	}

	&__block {

		&--full-height {
			height: 100%;
		}

		&--centered {
			justify-self: center;
			align-self: center;
		}

		&--float-right {
			justify-self: right;
			align-self: center;
			width: 40%;
		}
	}
}
